[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
alchemy-mock = "*"

[requires]
python_version = "3.6"
